*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
/* конец базовых стилей */

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}
/* паттерн */

/* стили для всего мэйна */
.content {
  display: flex;
  align-items: end;
  column-gap: 30px;
  width: 1140px;
  margin: auto;
}

/* стили для первой секции с главным видео */
.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.search-form__fieldset {
  border: 0;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.search-form__label-text {
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.search-form__textfield {
  min-width: 226px;
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: #fff;
  padding: 2.5px 14px 2.5px 0;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  background: transparent;
  appearance: none;
}

.search-form__checkbox-list {
  display: flex;
  align-items: center;
  column-gap: 17px;
}

.search-form__pseudo-checkbox {
  display: flex;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  border: 1px solid #fff;
}

.search-form__submit-button {
  align-self: end;
}

.button {
  border: 1px solid currentColor;
  padding: 7px 73px;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}
/* кнопка в 1 и 2 секциях */

/* стили для второй секции - заголовок */
.content__details {
  flex-grow: 1;
}

.title {
  margin-bottom: 26px;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 71px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  height: 298px;
  overflow-y: auto;
}

/* стили для второй секции - скролльные видео */
.content__list-item {
  margin-bottom: 34px;
}

.content__list-item:not(:last-child) {
  margin-bottom: 34px;
}

.content__card-link {
  display: block;
  margin: 2px;
  color: #fff;
  text-decoration: none;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  margin: 2px 0 6px 2px;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  width: 200px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  margin: 0 0 4px 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  margin: 2px 2px 2px 0;
  object-fit: cover;
  object-position: center;
}

.more-button {
  width: 100%;
}

/* состояния элементов формы и кнопок */

.search-form__label:hover .search-form__label-text {  
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {  
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield:focus {
  outline: 0;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {  
  display: block;
}

.search-form__pseudo-checkbox::before {  
  content: "";
  display: none;  
  width: 15px;
  height: 15px;  
  margin: auto;
  background-color: #fff;
}

.button:focus {
  outline: 0;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background: #545050;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* состояния карточек */
.content__card-link_current {
  background: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: 0;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__card-link:active {
  background: #545050;
}
